.filter-icon {
  min-width: 12px;
  min-height: 18px;
  width: 1rem;
  height: 1rem * 12 / 18;
  background: url(./assets/icons/filter-list.svg) no-repeat center;
}

.up-arrow-icon {
  min-width: 10px;
  min-height: 5px;
  width: 1rem;
  height: 1rem * 10 / 5;
  background: url(./assets/icons/up-arrow.svg) no-repeat center;
}

.down-arrow-icon {
  min-width: 10px;
  min-height: 5px;
  width: 1rem;
  height: 1rem * 10 / 5;
  background: url(./assets/icons/down-arrow.svg) no-repeat center;
}